*{
  background-color: rgb(24, 23, 23);
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 30px;
}

input[type="text"],
input[type="password"] {
  width: 70%;
  padding: 10px;
  margin-top: 5px;
  background-color: #2e313b;
}

.entry_container{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px 40px;
    justify-content: space-around;
}


input[type="button"] {
  padding: 5px 10px;
  background-color: #3f3c3c;
  color: azure;
  border: none;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #435c6e;
}

.loginFormTitle h1{    
    display: flex;
    justify-content: center;
  background-color: #ababab;
  margin: 0;
  padding: 20px;
  color: black;
}

.loginFormDescription h3{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin: 0 auto;
    color:#777777;
    background-color: rgb(24, 23, 23);
}

#loginForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px 20px;
    color:#777777;
    background-color: rgb(24, 23, 23);
}

.loginFormKot img{
    border: solid #ffffff 1px;
    border-radius: 15px;
}

.loginFormKot{
    display: flex;
    justify-content: flex-end;
}

.text-left h2{
  display: flex;
  justify-content: center;
  color: #c8d6d6;
}

.col-4{
  display: flex;
  align-items: baseline
}
.col-4 h2{
  color: #c8d6d6;
  margin: 50px 400px;
}

.username{
  margin: 20px 300px;
  color: #c8d6d6;
}
input[type="txt"] {
  margin: 0px 300px;
  background-color: #243d4e;
}

.message{
  margin: 40px 300px 5px;
  color: #c8d6d6;
}

.form-control{
  margin: 10px 300px;
  color: #c8d6d6;
  background-color: #243d4e;
}

.btn-danger{
  margin: 10px 300px;
}

.col-4 h3{
  color: #c8d6d6;
}

.header_container img {
  border: solid black 1px;
  border-radius: 15px;
  margin: 10px;
  width: 10%;
  height: 10%;
  background-color: black;
}

.header_container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.return_to_registration p{
  color: #c8d6d6;
  margin-right: 10px
}

.banner_left img{
  position: fixed;
  top: 0;
  height: 100%; 
  width:20%;
}

.banner_left {
  left: 0;
}

.banner_right {
  right: 0;
}

.container {
  margin: 0 100px; /* Учитываем ширину баннеров для основного контента */
}